
<footer>
    <div>
       <p>Home</p>
       <p>About Us</p>
       <p>Academic</p>
       <p>Examination</p>
     </div>
     <div> <p>College</p>
   <p>Publications</p>
   <p>Photo Gallery</p>
   <p>Alumni</p></div>
     <div>
       <p>Contact: 
   Fergusson College, F.C. Road,<br> Pune 411004</p>
   <p>Phone Number<br>
   020-67656000</p>
       <p>Email: info@FergussonCollege.edu</p>
       <p>&copy;All rights reserved.</p>
     </div>
     
   </div></div>
   </footer>
  

