<head>
    <style>
    .flip-container {
    
            margin:10px;
        perspective: 1000;

    }
    .flipper {
    border:2px solid black;
      padding: 60px;
      width: 350px;
      height:370px;
      position: relative;
        background: #f5f5f5;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 25px;
        
        transition: 1.0s;
        transform-style: preserve-3d;
    }

    @media only screen and (max-width: 600px) {
        .login-container {
            width: 90%;
        }
    }

    
    .front, .back {
      /*background-color: rgba(0,0,0,.3);*/
      position: absolute;
        padding:10px 30px;
      top: 0;
      left: 0;
      right: 0;
        
        backface-visibility: hidden;
    }
    
    .front{
        z-index: 2;
        /* for firefox 31 */
        transform: rotateY(0deg);
        color: black;
    }
    
    .back{
        transform: rotateY(180deg);

    }
    .flip{
            transform: rotateY(180deg);
    }
    input{
        width:100%;
        margin-bottom:15px;
        height:50px;
        box-sizing: border-box;
        padding:10px;
    }
    
 

    .title{
      text-align: center;
      color:#653431;
      
    }
    .flipbutton{
        color:#653431;
        text-decoration:none;
        text-align:left !important;
        margin: 0 5px;
    }
    
    .flipbutton1{
        text-align:right;
        color:#653431;
        text-decoration:none;
    }

    body {
        background-size: cover;
    }
    
    /* Alignment styles */  
    
    body, html {
      height: 100%;
    }
    
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      background-size:fill;
      transition: opacity 0.5s ease;
    }

    .logo {
        width: 70px;
    height: 50px;
    }

   
    </style>
    </head>
    <body background="fergusson.jpg">
    <img>
    <div class="flip-container">
    <div class="flipper" id="flipper">
        <div class="front">
       
            <h1 class="title"><img class="logo" src="logo.png">Login</h1>
            <form>
                        <input type="text" placeholder="Username" />
                        
                        <input type="password" placeholder="Password" />
                        <input type="button" value="Login"/>
            </form>
            <a class="flipbutton" id="loginButton" href="#">Forget Password | </a>
            <a class="flipbutton1" id="loginButton" href="signup.html">Sign up</a>
        </div>
        
        <div class="back">
            <h1 class="title"><img class="logo" src="logo.png">Reset Password</h1>
            <form>
                <div>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" placeholder="Email-id" required>
                <button type="button" onclick="verifyEmail()">Verify Email</button>
            </div>
            <input type="text" placeholder="OTP" />
                <input type="text" placeholder="New Password" />
         
                    
                    <input type="password" placeholder="Confirm Password" />
                    <input type="button" value="Submit"/>
            </form>
            <p id="result"></p>
            <a class="flipbutton" id="registerButton" href="#">Login to my account</a>
    
    
    <script>
    var loginButton = document.getElementById("loginButton");
    var registerButton = document.getElementById("registerButton");
    
    loginButton.onclick = function(){
        document.querySelector("#flipper").classList.toggle("flip");
    }
    
    registerButton.onclick = function(){
        document.querySelector("#flipper").classList.toggle("flip");
    }

    loginForm.addEventListener('submit', function(event) {
        event.preventDefault();
        const username = document.getElementById('username').value;
        const password = document.getElementById('password').value;
        // Perform login authentication here
        console.log('Logging in with:', username, password);
        // Redirect user or show appropriate message based on authentication result
      });

      function verifyEmail() {
  var emailInput = document.getElementById("email").value;
  var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
  
  if (emailRegex.test(emailInput)) {
    document.getElementById("result").innerText = "Email is valid!";
  } else {
    document.getElementById("result").innerText = "Please enter a valid email address.";
  }
}
    </script>
    
        </div>
    </div>
    </div>
    


     