<%- include("superAdmin_navbar") %>


<% if (successMessage) { %>
    <div class="flash-message success">
      <%= successMessage %>
    </div>
  <% } %>

  <% if (errorMessage) { %>
    <div class="flash-message error">
      <%= errorMessage %>
    </div>
  <% } %>
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/styles/navbar.css">

<title>Admission Portal</title>
<style>
  /* Inline CSS for simplicity */
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    background-repeat: no-repeat;
  }
  .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  h1 {
    text-align: left;
    color: #ab98ff;;
    margin-bottom: 20px;
  }
  p {
    text-align: justify;
    color: #666;
    margin-bottom: 20px;
  }
  .image-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  .image-container img {
    width: calc(20% - 10px);
    margin-right: 10px;
    border-radius: 8px;
  }
  
  h6 {
    padding-right: 450px;
    padding-left: 80px;
  }
  .logo {
        width: 80px;
    height: 60px;
    }
</style>
</head>
<body>
<div class="container">
  <h1><img class="logo" src="/images/logo.png">Welcome to Fergusson College</h1>
  <h6>(Autonomous)
    Affiliated to Savitribai Phule Pune University
    NAAC accredited “A+” Grade (3.31 CGPA) | AISHE Code : C - 41431
    UGC Special Heritage Status | UGC - College of Excellence (CE) | DBT - STAR Status
    #F. C. Road, Shivaji Nagar, Pune - 411004</h6>

    <h2>History!!</h2>
  <p>With the end of the East India Company's regime in India and the failure of the first armed uprising in 1857, for India's freedom, a new era dawned in our country. It was clear that the emancipation of our land and the transformation of the life of our people had to be brought about by peaceful and constitutional means. Indian renaissance had began and it heralded the role which education needed to play to achieve national aspirations. Wood's Education Despatch (1854), the Education Commission of 1882 and the Hunter Commission (1891), were all indicative of the concerted efforts, of both the Government and the Indian people, in the enterprise of education. The Founders of the Fergusson College had first started the New English School, Pune in 1880 and later established the Deccan Education Society (DES) in 1884.The college held these classes, for almost ten years, in the old Gadre Wada and other locations in Poona. A plot of about 37 acres (a portion of the present extensive campus) was acquired on a 99 years' lease in 1891 by the DES. The foundation stone of the Main building of the Fergusson College, was laid in 1892 and the building was completed in 1895. The college started functioning on this campus in 1895. From then onwards, the college has grown from strength to strength and acquired a reputation as a nation-building institution.

    While the founders have become legends, in the history of education and the freedom struggle in India, it is a matter of great significance, that the college received active and moral support from academicians and statesmen, such as Principal William Wordsworth, Principal F. G. Selby, Lord Rippon, Sir William Wedderburn and Sir James Fergusson.Fergusson College was intended to be, "the seminary of the Indian educational missionaries".</p>
 
  <div class="image-container">
    <img src="/images/image1.jpg" alt="Image 1">
    <img src="/images/image2.jpeg" alt="Image 2">
    <img src="/images/image3.jpg" alt="Image 3">
    <img src="/images/image4.jpg" alt="Image 4">
    <img src="/images/image5.jpg" alt="Image 5">
  </div>
</div>
</body>
</html>
<%- include("footer.ejs") %>

